
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.uwindsor.ca/sites/default/files/3000_NineGirls_0048.jpg" img style="width:100%" alt="...">
      <div class="carousel-caption">
          <h2>Who We Are</h2>
      </div>
    </div>
    <div class="item">
      <img src="http://1.bp.blogspot.com/-eHPZRB6VGW0/URHeiaD1ktI/AAAAAAAAAEk/gIGYRm7QDYc/s1600/VCAM+DRAMA+2012_1297.JPG" alt="...">
      <div class="carousel-caption">
          <h2>Where We From</h2>
          <p><h2>About YourSpace</h2>

<p>We connect people with something to sell with space to sell it.</p>

<p>Storefront is an online marketplace for artists, designers, and brands to find and rent retail space. From a booth at a street fair, to a space inside a boutique store, to an entire store on a busy street, we make the rental process simple. If you have space - whether you're a store owner, broker, or landlord - we make it easy to make money from your space.

Our goal is to make starting an offline store as easy as starting an online store.</p>

<h2>Along the way, we want to:</h2>
<li>
<ul>Make retail space more accessible</ul>
<ul>Empower store owners and merchants</ul>
<ul>Foster and grow local economies</ul> </p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.hsc.csu.edu.au/drama/hsc/studies/topics/2759/Setbeautyqueen.jpg" alt="...">
      <div class="carousel-caption">
          <h2>Where We From</h2>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->


