


<p>We connect people with something to sell with space to sell it.</p>

<p>Storefront is an online marketplace for artists, designers, and brands to find and rent retail space. From a booth at a street fair, to a space inside a boutique store, to an entire store on a busy street, we make the rental process simple. If you have space - whether you're a store owner, broker, or landlord - we make it easy to make money from your space.

Our goal is to make starting an offline store as easy as starting an online store.</p>

<h2>Along the way, we want to:</h2>
<li>
<ul>Make retail space more accessible</ul>
<ul>Empower store owners and merchants</ul>
<ul>Foster and grow local economies</ul> </p>
     