<br/>
<br/>
<br/>
<br/>

<%if user_signed_in?%>

<p>Welcome to spacefinder <%=current_user.email%>!! </P>

	<% end %>



<P> Feel free to use the searh option above to narrow your search to your liking </p>

	
	

	
	