
<div id="how0">
<h3> Your Space Chicago </h3><br/>

<div class="row">

	<div class="container center">

	<div class ="col-md-3" id ="how1">
    <h3>Landlords</h3>
    Why use Storefront?

<h3>Easy to list</h3>
<p>Storefront is an easy and free way to list and manage all of your spaces, and you only pay a 2.5% fee once a transaction occurs.</p>

<h3>You're in control</h3>
<p>You decide which brands to allow in your space, and every member of our team is here to ensure you have the smoothest experience possible.</p>

<h3>Insurance and support</h3>
<p>When you book, you receive short term general liability insurance, and every member of our team is here to ensure you have the smoothest experience possible.</p>

<h3>Grow your business</h3>
<p>95% of purchases are completed offline. Storefront helps you generate revenue from your space and bring new foot traffic to your store.</p>

<h3>Who's using Spacefinder?</h3>

<p>Over 2,000 business have listed space on Storefront.</p>
<ol>

  <li>Craft Fairs</li>
  <li>Markets</li>
  <li>Galleries</li>
  <li>Mall Stores</li>
  <li>Vacant Spaces</li>
  <li>Street-Level</li>
  <li>Store-in-a-Store</li>
  <li>Kiosks</li>
  <li>Restaurant Spaces</li>

</ol>




  </div>
	<div class ="col-md-3" id ="how1">
    <h3>Renters</h3>
    Why use Storefront?

<h3>Easy to list</h3>
<p>Storefront is an easy and free way to list and manage all of your spaces, and you only pay a 2.5% fee once a transaction occurs.</p>

<h3>You're in control</h3>
<p>You decide which brands to allow in your space, and every member of our team is here to ensure you have the smoothest experience possible.</p>

<h3>Insurance and support</h3>
<p>When you book, you receive short term general liability insurance, and every member of our team is here to ensure you have the smoothest experience possible.</p>

<h3>Grow your business</h3>
<p>95% of purchases are completed offline. Storefront helps you generate revenue from your space and bring new foot traffic to your store.</p>

<h3>Who's using Spacefinder?</h3>

<p>Over 2,000 business have listed space on Storefront.</p>
<ol>



</div>
<div class ="col-md-3" id ="how1">
  <h3>Landlords</h3>
    Why use Storefront?

<h3>Easy to list</h3>
<p>Storefront is an easy and free way to list and manage all of your spaces, and you only pay a 2.5% fee once a transaction occurs.</p>

<h3>You're in control</h3>
<p>You decide which brands to allow in your space, and every member of our team is here to ensure you have the smoothest experience possible.</p>

<h3>Insurance and support</h3>
<p>When you book, you receive short term general liability insurance, and every member of our team is here to ensure you have the smoothest experience possible.</p>

<h3>Grow your business</h3>
<p>95% of purchases are completed offline. Storefront helps you generate revenue from your space and bring new foot traffic to your store.</p>

<h3>Who's using Spacefinder?</h3>

<p>Over 2,000 business have listed space on Storefront.</p>

</div>

<div class ="col-md-3" id ="how1">
 <h3> Connect with us here</h3>

 <%= image_tag("facebook-icon.jpg", :size =>"60x60")%>

</div>


</div>

</div>		

