
<div id="how0"
<h1> Your Space Chicago </h1><br/>

<div class="row">

	<div class="container center">

	<div class ="col-md-3" id ="how1">Renters </div>
	<div class ="col-md-3" id ="how1">Landlords</div>
	<div class ="col-md-3" id ="how1">Info</div>

</div>

Why use Storefront?

Easy to list
Storefront is an easy and free way to list and manage all of your spaces, and you only pay a 2.5% fee once a transaction occurs.

You're in control
You decide which brands to allow in your space, and every member of our team is here to ensure you have the smoothest experience possible.

Insurance and support
When you book, you receive short term general liability insurance, and every member of our team is here to ensure you have the smoothest experience possible.

Grow your business
95% of purchases are completed offline. Storefront helps you generate revenue from your space and bring new foot traffic to your store.

Who's using Storefront?

Over 2,000 business have listed space on Storefront.

  Craft Fairs
  Markets
  Galleries
  Mall Stores
  Vacant Spaces
  Street-Level
  Store-in-a-Store
  Kiosks
  Restaurant Spaces

"We are so pleased to collaborate with Storefront on our dynamic holiday pop-up event, fueled by W brand’s passion points of music, fashion and design."

Roger Huldi 
General Manager 
Read More


"We are excited to present a space in San Francisco for brands to open up their own pop-up shops. Storefront has provided our event space with more exposure, and made it easily accessible for brands to move right in."

Teresa Nittolo 
Firehouse 8 
Read More

List your retail space

Whether you’re a retailer looking to offer a new in-store experience or a broker looking to keep your commercial real estate occupied, you can list your space on Storefront to get in front of hundreds of brands, artists and other qualified tenants.

List a space

</div>

</div>		

