<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Baraka Express LLC</title>

<link href="custom_baraka/css/site_styles.css" rel="stylesheet">
<link href="custom_baraka/anythingSlider/anythingslider.css" rel="stylesheet">
<link href="custom_baraka/css/custom_slider.css" rel="stylesheet">

<script src="custom_baraka/_js/jquery-1.7.2.min.js"></script>
<script src="custom_baraka/anythingSlider/jquery.anythingslider.min.js"></script>
<script src="custom_baraka/_js/barakaexpressllc.js"></script>
<!--[if lt IE 9]>
<script src="custom_baraka/html5shiv.js"></script>
<![endif]-->
</head>
	<body>
	<header>
	<h1>Baraka Express LLC <img src="custom_baraka/images/logo.png" width="130" height="140" alt="Baraka Express LLC" class="badge"></h1>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Trucking</a></li>
	        <li><a href="#">Careers</a></li>
			<li><a href="#">Sign In</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	</header>
	<div id="slider">
	        <div class="slidePanel"><a href="#"><h2>Our Services ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
	          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
	        </a></div>
	        <div class="slidePanel"><a href="#"><h2>About Us ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>           
	        </a></div>
	        <div class="slidePanel"><a href="#"><h2>Enquiry ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.  </p></a></div>
	        <div class="slidePanel"><a href="#"><h2>Privacy ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>           
	        </a></div>
	        <div class="slidePanel"><a href="#"><h2>Trucking News ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>           
	        </a></div>
	        <div class="slidePanel"><a href="#"><h2>Social Media ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>           
	        </a></div>
	        <div class="slidePanel"><a href="#"><h2>Faq ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>           
	        </a></div>
	        <div class="slidePanel"><a href="#"><h2>Terms of Service ... </h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>           
	        </a></div>
	</div>
	<div class="contents">
		<figure>
		<img src="custom_baraka/images/file00079963469.jpg" width="300" height="210" alt="Panama Route">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file000308999292.jpg" width="300" height="210" alt="Bonnet">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file000330568599.jpg" width="300" height="210" alt="Pink Route">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file000550955311.jpg" width="300" height="210" alt="Variety">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file0001117960982.jpg" width="300" height="210" alt="Route">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file0001425538258.jpg" width="300" height="210" alt="Another bonnet">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file00030009680.jpg" width="300" height="210" alt="Dude with Route">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file0001728857809.jpg" width="300" height="210" alt="Cool Route">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
		<figure>
		<img src="custom_baraka/images/file0001757413591.jpg" width="300" height="210" alt="Top Routes">
		<figcaption><strong>Nam libero tempore.</strong> Soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</figcaption>
		</figure>
	</div>
	<footer>
		<div class="copyright">
		<p>Copyright 2014, Baraka Express LLC, Site is Under Construction</p>
		</div>
	</footer>
	</body>
</html>
