<!doctype html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CosmoFarmer</title>
<link href="test/css/test_index.css" rel="stylesheet">
</head>
<body class="feature">
  <ul class="mainNav">
    <li><a href="/index.html" class="homeLink">Home</a></li>
    <li><a href="/features/" class="featureLink">Features</a></li>
    <li><a href="/experts/" class="expertLink">Experts</a></li>
    <li><a href="/quiz/" class="quizLink">Quiz</a></li>
    <li><a href="/projects/" class="projectLink">Projects</a></li>
    <li><a href="/horoscopes/" class="horoscopeLink">Horoscopes</a></li>
  </ul>
</body>
</html>
